<div class = "beer-container">
    {{#each randomBeer}}      
    <h3>{{ name }}</h3>
    <img width="200" src="{{ image_url }}" alt="{{ name }}"/>
    <p>Description: {{ description }}</p>
    <p>Tag Line: {{ tagline }}</p>
    <p>Food Pairing: {{food_pairing}}</p> 
    <p>Brewer Tips: {{brewers_tips}}</p>     
    {{/each}}
</div>